
.container4{

    position: relative;
    left: 100px;
}

.imagenes__section{
    display: flex;
}

.imagenes__section--div{
    margin-left: 40px;
    margin-right: 40px;
}

.imagenes__section--article{
    margin-bottom: 20px;
}

.imagenes__section--img{
    width: 400px;
}