
body{
    margin: 0 auto;
    height: 100%;
    padding: 0;
    background-color: black;
    
}
.container1{
    background-color: black;
    color: white;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
    height: 100vh; 
    


}

.aside{
    width: 25%;
    min-width: 25%;
    position: fixed;
    justify-content: center;
    text-align: center;
    top: 0px;
    left: 0px;
    height: 100vh;
    padding: 80px 0px;
    background-color: rgb(25, 24, 24);
}

.aside__article{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

}

.aside__img{
    width: 65px;
    border-radius: 50px;
    border: 5px solid rgb(21, 193, 21);
}

.aside__div{
    border: 1px solid grey;
    width: 250px;
    height: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color: gray;


}

.aside__div--a{
    text-decoration: none;
    color: white;
    font-size: 10px;

}



/*PARTE DOS*/

.container{
    width: 65%;
    margin-left: 30%; 
    padding: 20px;
    height: 100vh;
    
}
.container__div{
    display: flex;
    flex-direction: column;
}

.container__2{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    margin: 50px;
    margin-bottom: 100px;
    


}
.index__h2--green{
    color: green;
    margin-left: 5px;
}

.index__div{
    display: flex;
    align-items: center;
}
.index__p{
    width: 700px;
}
.index__button{
    width: 150px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
}
.index__button--p{
    margin-left: 5px;
}
.icono1{
    font-size: 20px;
    color: green;
}

/*PARTE 3*/

.container2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px;
    margin-bottom: 200px;
}
.container2__div--1{
    text-align: left;
    width: 100%;
}
.container2__1{
    margin-bottom: 100px;
}
.container2__div{
    display: flex;
    text-align: left;
    
}
.container2__h1{
    margin-right: 8px;
}
.container2__h1--green{
    color: green;
}
.container2__ul--div{
    display: flex;
    align-items: center;
}
.container2__li{
    margin-right: 8px;
}
.container2__ul--p{
    color: green;
}
.container2__a{
    border: 1px solid grey;
    background-color: grey;
    width: 250px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.container2__section{
    display: flex;
}
.container2__article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid grey;
    background-color: grey;
    width: 150px;
    height: 100px;
    margin-right: 20px;
    padding: 45px;

}
.container2__h2--green{
    font-size: 45px;
    color: green;
    justify-content: baseline;
}
.container2__h2{
    font-size: 25px;  
}
.icono2{
    font-size: 20px;
    color: green;
}

/*PARTE 4*/
.container3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px;
    margin-bottom: 200px;
    color: white;
}
.container3__div{
    width: 100%;
}
.container3__1{
    display: flex;
    justify-content: left;
}
.container3__h2{
    color: white;
    margin-right: 8px;
    font-size: 30px;
}
.container3__h2--green{
    color: green;
    font-size: 30px;

}

.container3__section--div{
    display: flex;
    
}
.container3__article{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 90px;
    margin: 100px;
    align-items: center;
    justify-content: center;

}
.container3__article--div{
    text-align: center;
    display: flex;
    flex-direction: column;
}
.container3__article--h2{
    color: green;
}
.container3__article--a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    
}
.container3__article--div1{
    border: 1px solid grey;
    width: 150px;
    height: 50px;
    background-color: grey;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*PARTE 5*/

.container4{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
    margin-bottom: 200px;
}
.container4__div{
    width: 100%;
    margin-bottom: 100px;
}
.container4__div--h2{
    display: flex;
}
.container4__h2{
    margin-right: 8px;
    font-size: 40px;
}
.container4__h2--green{
    color: green;
    font-size: 40px;

}
.container4__section{
    display: flex;
}
.container4__section--article{

    margin: 10px;
}
.container4__section--img{
    width: 600px;
    height: 300px;
}


/*PARTE 6*/

.container5{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px;
    margin-bottom: 200px;
}

.container5__div{
    width: 100%;
}
.container5__div--h2{
    display: flex;
}
.container5__h2{
    margin-right: 8px;
    font-size: 40px;
}
.container5__h2--green{
    color: green;
    font-size: 40px;
}
.container5__ul--div{
    display: flex;
    align-items: center;
    
}
.container5__li{
    list-style: none;
    margin-right: 10px;
}
.container5__ul--p{
    font-size: 25px;
}
.container5__form{
    display: flex;
    flex-direction: column;
    color: white;

}
.container5__input{
    width: 700px;
    height: 45px;
    margin-bottom: 20px;
    font-size: 20px;
    background-color: grey;
}
.container5__textarea{
    height: 250px;
    font-size: 20px;
    background-color: grey;
}
.container5__div1--a{
    width: 70%;
    margin-top: 70px;
}
.container5__div--a{
    width: 120px;
    height: 40px;
    border: 1px solid grey;
    background-color: grey;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;


}
.container5__a{
    color: white;
    text-decoration: none;
    font-size: 25px;
}
   
.icono3{
    font-size: 25px;
    color: green;
}